{"openapi":"3.0.0","info":{"version":"1.0","title":"","description":""},"servers":[{"url":"https://wr-lumis3d.lumiscaphe.com"}],"paths":{"/ImageFromBookmark":{"get":{"tags":["Image"],"summary":"Returns an image based on a point of view describe by a camera bookmark","parameters":[{"$ref":"#/components/parameters/databaseId"},{"$ref":"#/components/parameters/configuration"},{"$ref":"#/components/parameters/decorDatabaseId"},{"$ref":"#/components/parameters/decorDeltaAltitude"},{"$ref":"#/components/parameters/bookmarkSet"},{"$ref":"#/components/parameters/bookmark"},{"$ref":"#/components/parameters/background"},{"$ref":"#/components/parameters/width"},{"$ref":"#/components/parameters/height"},{"$ref":"#/components/parameters/imageFormat"},{"$ref":"#/components/parameters/imageQuality"},{"$ref":"#/components/parameters/matting"},{"$ref":"#/components/parameters/softwareAntialiasing"},{"$ref":"#/components/parameters/superSampling"}],"responses":{"200":{"description":"Successful operation","content":{"image/jpeg":{"schema":{"type":"string","format":"binary"}},"image/png":{"schema":{"type":"string","format":"binary"}},"image/psd":{"schema":{"type":"string","format":"binary"}},"image/webp":{"schema":{"type":"string","format":"binary"}}}},"400":{"$ref":"#/components/responses/invalid"},"503":{"$ref":"#/components/responses/unavailable"}}}},"/Hotspot":{"post":{"tags":["Hotspot"],"summary":"Returns","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Hotspot"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HotspotResponse"}}}},"400":{"$ref":"#/components/responses/invalid"},"503":{"$ref":"#/components/responses/unavailable"}}}},"/Pick":{"post":{"tags":["Picking"],"summary":"Returns","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Pick"}}}},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PickResponse"}}}},"400":{"$ref":"#/components/responses/invalid"},"503":{"$ref":"#/components/responses/unavailable"}}}},"/Snapshot":{"post":{"tags":["Snapshot"],"summary":"Returns","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Snapshot"}}}},"responses":{"200":{"description":"Successful operation"},"400":{"$ref":"#/components/responses/invalid"},"503":{"$ref":"#/components/responses/unavailable"}}}}},"components":{"schemas":{"Hotspot":{"type":"object","properties":{"scene":{"$ref":"#/components/schemas/scene"},"mode":{"type":"object","oneOf":[{"$ref":"#/components/schemas/animationMode"},{"$ref":"#/components/schemas/imageMode"},{"$ref":"#/components/schemas/imagesMode"},{"$ref":"#/components/schemas/vrCubeMode"},{"$ref":"#/components/schemas/vrObjectMode"}]},"renderParameters":{"$ref":"#/components/schemas/renderParameters"},"positions":{"$ref":"#/components/schemas/position3DArray"}},"required":["scene","mode","positions"],"additionalProperties":false},"HotspotResponse":{"type":"array","items":{"$ref":"#/components/schemas/HotspotResult"}},"HotspotResult":{"type":"object","properties":{"position":{"$ref":"#/components/schemas/vector2d"},"visibility":{"type":"string"}}},"Pick":{"type":"object","properties":{"scene":{"$ref":"#/components/schemas/scene"},"camera":{"$ref":"#/components/schemas/camera"},"renderParameters":{"$ref":"#/components/schemas/renderParameters"},"positions":{"$ref":"#/components/schemas/positionArray"}},"required":["scene","camera","positions"],"additionalProperties":false},"PickResponse":{"type":"array","items":{"$ref":"#/components/schemas/PickResult"}},"PickResult":{"type":"object","properties":{"product":{"type":"string"},"surface":{"type":"string"},"normal":{"$ref":"#/components/schemas/vector3d"},"point":{"$ref":"#/components/schemas/vector3d"},"uvw":{"$ref":"#/components/schemas/vector3d"}}},"positionArray":{"type":"array","items":{"$ref":"#/components/schemas/vector2d"}},"position3DArray":{"type":"array","items":{"$ref":"#/components/schemas/vector3d"}},"vector2d":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}},"required":["x","y"]},"Snapshot":{"type":"object","properties":{"scene":{"$ref":"#/components/schemas/scene"},"mode":{"type":"object","oneOf":[{"$ref":"#/components/schemas/animationMode"},{"$ref":"#/components/schemas/imageMode"},{"$ref":"#/components/schemas/imagesMode"},{"$ref":"#/components/schemas/vrCubeMode"},{"$ref":"#/components/schemas/vrObjectMode"}]},"renderParameters":{"$ref":"#/components/schemas/renderParameters"},"encoder":{"type":"object","oneOf":[{"$ref":"#/components/schemas/jpegEncoder"},{"$ref":"#/components/schemas/pngEncoder"},{"$ref":"#/components/schemas/webpEncoder"},{"$ref":"#/components/schemas/videoEncoder"}]}}},"guid":{"type":"string","pattern":"^(\\{){0,1}[0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12}(\\}){0,1}$"},"scene":{"type":"object","oneOf":[{"$ref":"#/components/schemas/guid"},{"$ref":"#/components/schemas/product"},{"$ref":"#/components/schemas/productArray"}]},"product":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/guid"},"database":{"$ref":"#/components/schemas/guid"},"product":{"$ref":"#/components/schemas/guid"},"animations":{"$ref":"#/components/schemas/animationArray"},"configuration":{"type":"string"},"labels":{"$ref":"#/components/schemas/labelArray"},"materials":{"$ref":"#/components/schemas/materialArray"},"materialStandards":{"$ref":"#/components/schemas/materialStandardArray"},"materialMultiLayers":{"$ref":"#/components/schemas/materialMultiLayerArray"},"surfaces":{"$ref":"#/components/schemas/surfaceArray"},"translation":{"$ref":"#/components/schemas/vector3d"},"rotation":{"$ref":"#/components/schemas/vector3d"},"partitions":{"$ref":"#/components/schemas/partitions"},"isMaster":{"type":"boolean"}},"required":["database"],"additionalProperties":false},"productArray":{"type":"array","items":{"$ref":"#/components/schemas/product"}},"vector3d":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"},"z":{"type":"number"}},"required":["x","y","z"],"additionalProperties":false},"animation":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/guid"},"time":{"type":"number","minimum":0}},"required":["id","time"],"additionalProperties":false},"animationArray":{"type":"array","items":{"$ref":"#/components/schemas/animation"}},"label":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/guid"},"surface":{"type":"string"},"tag":{"type":"string"},"filename":{"type":"string"},"translation":{"$ref":"#/components/schemas/vector2d"},"rotation":{"type":"number"},"scaling":{"$ref":"#/components/schemas/vector2d"}},"additionalProperties":false},"labelArray":{"type":"array","items":{"$ref":"#/components/schemas/label"}},"material":{"type":"object","properties":{"name":{"type":"string"},"tag":{"type":"string"},"filename":{"type":"string"},"id":{"$ref":"#/components/schemas/guid"}},"additionalProperties":false},"materialArray":{"type":"array","items":{"$ref":"#/components/schemas/material"}},"materialStandard":{"type":"object","properties":{"name":{"type":"string"},"diffuseColor":{"$ref":"#/components/schemas/color"},"diffuseColorIntensity":{"type":"number"},"diffuseColorMap":{"type":"string"},"specularRoughness":{"type":"number"}},"additionalProperties":false},"materialStandardArray":{"type":"array","items":{"$ref":"#/components/schemas/materialStandard"}},"materialMultiLayer":{"type":"object","properties":{"name":{"type":"string"},"layer":{"type":"number"},"diffuseColor":{"$ref":"#/components/schemas/color"},"diffuseColorIntensity":{"type":"number"},"specularRoughness":{"type":"number"}},"additionalProperties":false},"materialMultiLayerArray":{"type":"array","items":{"$ref":"#/components/schemas/materialMultiLayer"}},"surfaceArray":{"type":"array","items":{"$ref":"#/components/schemas/surface"}},"surface":{"type":"object","properties":{"tag":{"type":"string"},"hide":{"type":"boolean"},"hideOthers":{"type":"boolean"},"labels":{"$ref":"#/components/schemas/labelTransformArray"}},"required":["tag"],"additionalProperties":false},"labelTransformArray":{"type":"array","items":{"$ref":"#/components/schemas/labelTransform"}},"labelTransform":{"type":"object","properties":{"index":{"type":"number"},"translation":{"$ref":"#/components/schemas/vector2d"},"rotation":{"type":"number"},"scaling":{"$ref":"#/components/schemas/vector2d"}},"additionalProperties":false},"animationMode":{"type":"object","properties":{"animation":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/guid"},"camera":{"$ref":"#/components/schemas/camera"},"fps":{"type":"number","minimum":0,"exclusiveMinimum":true},"reverse":{"type":"boolean"}},"required":["id"],"additionalProperties":false}},"required":["animation"],"additionalProperties":false},"imageMode":{"type":"object","properties":{"image":{"type":"object","properties":{"camera":{"$ref":"#/components/schemas/camera"}},"required":["camera"],"additionalProperties":false}},"required":["image"],"additionalProperties":false},"imagesMode":{"type":"object","properties":{"images":{"type":"object","properties":{"cameraGroup":{"$ref":"#/components/schemas/cameraGroup"}},"required":["cameraGroup"],"additionalProperties":false}},"required":["images"],"additionalProperties":false},"vrCubeMode":{"type":"object","properties":{"vrCube":{"type":"object","properties":{"camera":{"$ref":"#/components/schemas/camera"}},"required":["camera"],"additionalProperties":false}},"required":["vrCube"],"additionalProperties":false},"vrObjectMode":{"type":"object","properties":{"vrObject":{"type":"object","oneOf":[{"type":"object","properties":{"camera":{"$ref":"#/components/schemas/camera"},"frames":{"type":"integer","minimum":1,"maximum":36}},"required":["camera","frames"],"additionalProperties":false},{"type":"object","properties":{"camera":{"$ref":"#/components/schemas/camera"},"panLoop":{"type":"boolean"},"panFrom":{"type":"integer","minimum":-180,"maximum":180},"panTo":{"type":"integer","minimum":-180,"maximum":180},"panFrames":{"type":"integer","minimum":0,"maximum":36},"tiltLoop":{"type":"boolean"},"tiltFrom":{"type":"integer","minimum":-180,"maximum":180},"tiltTo":{"type":"integer","minimum":-180,"maximum":180},"tiltFrames":{"type":"integer","minimum":0,"maximum":36}},"required":["camera","panFrames"],"additionalProperties":false}]}},"required":["vrObject"],"additionalProperties":false},"cameraGroup":{"type":"object","oneOf":[{"$ref":"#/components/schemas/guid"}]},"camera":{"type":"object","oneOf":[{"$ref":"#/components/schemas/guid"},{"$ref":"#/components/schemas/cameraObj"}]},"cameraObj":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/guid"},"depthPolicy":{"$ref":"#/components/schemas/depthPolicy"},"lens":{"type":"object","oneOf":[{"$ref":"#/components/schemas/lensFov"},{"$ref":"#/components/schemas/lensFrustum"}]},"pov":{"$ref":"#/components/schemas/pov"},"sensor":{"type":"object","oneOf":[{"$ref":"#/components/schemas/guid"},{"$ref":"#/components/schemas/sensor"}]}},"additionalProperties":false},"depthPolicy":{"type":"object","properties":{"mode":{"enum":["frustumBased","fixedDepthRange","lookAtPointBasedInterest","useGlobalPolicy"]},"zMin":{"type":"number"},"zMax":{"type":"number"}},"additionalProperties":false},"lensFov":{"type":"object","properties":{"fov":{"type":"number","minimum":1,"maximum":359},"view":{"enum":["perspective","isometric"]},"axis":{"enum":["x","y"]}},"required":["fov"],"additionalProperties":false},"lensFrustum":{"type":"object","properties":{"left":{"type":"number"},"right":{"type":"number"},"top":{"type":"number"},"bottom":{"type":"number"},"view":{"enum":["perspective","isometric"]}},"required":["left","right","top","bottom"],"additionalProperties":false},"pov":{"type":"object","properties":{"target":{"$ref":"#/components/schemas/vector3d"},"eye":{"$ref":"#/components/schemas/vector3d"},"up":{"$ref":"#/components/schemas/vector3d"}},"required":["target","eye","up"],"additionalProperties":false},"sensor":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/guid"},"background":{"type":"object","oneOf":[{"$ref":"#/components/schemas/guid"},{"$ref":"#/components/schemas/coloredBackground"},{"enum":["product","transparent"]}]},"overlay":{"$ref":"#/components/schemas/guid"}},"additionalProperties":false},"color":{"type":"string"},"coloredBackground":{"type":"object","oneOf":[{"type":"object","properties":{"color":{"$ref":"#/components/schemas/color"}},"additionalProperties":false,"required":["color"]},{"type":"object","properties":{"startColor":{"$ref":"#/components/schemas/color"},"endColor":{"$ref":"#/components/schemas/color"}},"additionalProperties":false,"required":["startColor","endColor"]}]},"partitions":{"type":"object","properties":{"environment":{"type":"boolean","default":true},"error":{"type":"boolean","default":true},"label":{"type":"boolean","default":true},"matte":{"type":"boolean","default":true},"mirrorOpaque":{"type":"boolean","default":true},"mirrorTransparent":{"type":"boolean","default":true},"multiLayerOpaque":{"type":"boolean","default":true},"multiLayerTransparent":{"type":"boolean","default":true},"null":{"type":"boolean","default":true},"seam":{"type":"boolean","default":true},"shaper":{"type":"boolean","default":true},"standardOpaque":{"type":"boolean","default":true},"standardTransparent":{"type":"boolean","default":true}}},"renderParameters":{"type":"object","properties":{"width":{"type":"integer","minimum":1},"height":{"type":"integer","minimum":1},"mode":{"enum":["aabb","fill","gbuffer","lightmap","material","mix","normalDepth","uv","wireframe","worldPosition","zbuffer"],"default":"material"},"antialiasing":{"type":"boolean","default":false},"background":{"type":"boolean","default":true},"compositing":{"type":"boolean","default":false},"enhancedTransparency":{"type":"boolean","default":false},"grid":{"type":"boolean","default":false},"mipmap":{"type":"boolean","default":true},"mirror":{"type":"boolean","default":true},"overlay":{"type":"boolean","default":true},"partitions":{"$ref":"#/components/schemas/partitions"},"postProcess":{"type":"boolean","default":true},"product":{"type":"boolean","default":true},"referential":{"type":"boolean","default":false},"superSampling":{"enum":["1","2","3","4"]},"screenSpaceReflections":{"type":"boolean","default":false},"screenSpaceReflectionsGrazingAngleFadeoff":{"type":"number"},"screenSpaceReflectionsQualityFactor":{"type":"number","minimum":0,"maximum":1},"screenSpaceReflectionsRayDepthFactor":{"type":"number","minimum":0,"maximum":1},"ssaoParameters":{"$ref":"#/components/schemas/ssaoParameters"},"sunAuthoringData":{"$ref":"#/components/schemas/sunAuthoringData"}},"additionalProperties":false},"ssaoParameters":{"type":"object","properties":{"enabled":{"type":"boolean","default":false},"lightmaps":{"type":"boolean","default":false},"transparentSurfaces":{"type":"boolean","default":false},"radius":{"type":"boolean","default":0.05},"intensity":{"type":"boolean","default":1.0},"bias":{"type":"boolean","default":8.0},"steps":{"type":"boolean","default":4}}},"sunAuthoringData":{"type":"object","properties":{"enabled":{"type":"boolean","default":false},"enabledShadowsInMirrors":{"type":"boolean","default":false},"sunColor":{"$ref":"#/components/schemas/color"},"intensity":{"type":"number","default":1},"shadowIntensity":{"type":"number","default":0},"lightmapIntensity":{"type":"number","default":1},"shadowQuality":{"$ref":"#/components/schemas/shadowQualityMode"},"shadowSmoothness":{"$ref":"#/components/schemas/shadowSmoothnessMode"},"specularEnabled":{"type":"boolean","default":true},"specularIntensity":{"type":"number","default":1},"northOrientation":{"type":"number","default":0},"useCase":{"$ref":"#/components/schemas/renderSunAuthoringDataUseCaseMode"},"manualData":{"$ref":"#/components/schemas/renderSunAuthoringDataManual"},"timeAndLocData":{"$ref":"#/components/schemas/renderSunAuthoringDataTimeAndLoc"}},"additionalProperties":false},"shadowQualityMode":{"enum":["veryLow","low","medium","fine","ultra"]},"shadowSmoothnessMode":{"enum":["none","weak","normal","fine","ultraFine","max"],"default":"none"},"renderSunAuthoringDataUseCaseMode":{"enum":["manual","timeAndLoc","extractedFromEnv"],"default":"manual"},"renderSunAuthoringDataManual":{"type":"object","properties":{"azimuth":{"type":"number","default":0},"altitude":{"type":"number","default":30}}},"renderSunAuthoringDataTimeAndLoc":{"type":"object","properties":{"year":{"type":"integer","default":2021},"month":{"type":"integer","default":3},"day":{"type":"integer","default":5},"hour":{"type":"integer","default":10},"minute":{"type":"integer","default":10},"second":{"type":"integer","default":0},"timezoneItem":{"type":"integer","default":14},"timezone":{"type":"number","default":1},"dayLightSaving":{"type":"boolean","default":true},"dayLightSavingMin":{"type":"integer","default":60},"cityItem":{"type":"integer","default":95},"latitude":{"type":"number","default":48.8},"longitude":{"type":"number","default":-2.3333}}},"jpegEncoder":{"type":"object","properties":{"jpeg":{"type":"object","properties":{"quality":{"type":"integer","minimum":1,"maximum":100}},"additionalProperties":false}},"required":["jpeg"],"additionalProperties":false},"pngEncoder":{"type":"object","properties":{"png":{"type":"object","properties":{"compression":{"type":"integer","minimum":1,"maximum":9}},"additionalProperties":false}},"required":["png"],"additionalProperties":false},"webpEncoder":{"type":"object","properties":{"webp":{"type":"object","properties":{"quality":{"type":"integer","minimum":1,"maximum":100}},"additionalProperties":false}},"required":["webp"],"additionalProperties":false},"videoEncoder":{"type":"object","properties":{"video":{"type":"object","properties":{"container":{"type":"string"},"encoder":{"type":"string"},"bitrate":{"type":"number","minimum":0,"maximum":20000,"exclusiveMinimum":true},"fps":{"type":"number","minimum":0,"maximum":1000,"exclusiveMinimum":true}},"additionalProperties":false}},"required":["video"],"additionalProperties":false}},"parameters":{"background":{"name":"background","in":"query","required":false,"schema":{"type":"string","enum":["product","gradient","transparent"]},"description":"The image background"},"bookmark":{"name":"bookmark","in":"query","required":true,"schema":{"type":"string"},"description":"The camera bookmark"},"bookmarkSet":{"name":"bookmarkSet","in":"query","required":true,"schema":{"type":"string"},"description":"The camera bookmark set"},"configuration":{"name":"configuration","in":"query","required":false,"schema":{"type":"string"},"description":"The product configuration"},"databaseId":{"name":"databaseId","in":"query","required":true,"schema":{"type":"string"},"description":"The database id"},"decorDatabaseId":{"name":"decorDatabaseId","in":"query","required":false,"schema":{"type":"string"},"description":"The decor database id"},"decorDeltaAltitude":{"name":"decorDeltaAltitude","in":"query","required":false,"schema":{"type":"number"},"description":"The decor database altitude"},"height":{"name":"height","in":"query","required":true,"schema":{"type":"integer","minimum":1},"description":"The image height"},"imageFormat":{"name":"imageFormat","in":"query","required":false,"schema":{"type":"string","enum":["jpeg","png","webp"]},"description":"The image format"},"imageQuality":{"name":"imageQuality","in":"query","required":false,"schema":{"type":"integer","minimum":0,"maximum":100},"description":"The image quality - For JPEG and WEBP a quality level between 0 and 100, for PNG a compression level between 0 and 9"},"matting":{"name":"matting","in":"query","required":false,"schema":{"type":"boolean"},"description":"Use matting technique to get alpha in transparent surfaces when background is transparent"},"renderJobId":{"name":"renderJobId","in":"query","required":true,"schema":{"type":"string"},"description":"The render job id"},"renderUnitName":{"name":"name","in":"query","required":true,"schema":{"type":"string"},"description":"The render unit name"},"softwareAntialiasing":{"name":"softwareAntialiasing","in":"query","required":false,"schema":{"type":"boolean"},"description":"Use software antialiasing"},"superSampling":{"name":"superSampling","in":"query","required":false,"schema":{"type":"integer","enum":[1,2,3,4]},"description":"The super sampling level"},"webProviderName":{"name":"webProviderName","in":"query","required":true,"schema":{"type":"string"},"description":"The web provider name"},"width":{"name":"width","in":"query","required":true,"schema":{"type":"integer","minimum":1},"description":"The image width"}},"responses":{"invalid":{"description":"Invalid request","content":{"text/html":{"schema":{"type":"string"}}}},"successfulText":{"description":"Successful operation","content":{"application/text":{"schema":{"type":"string"}}}},"successfulXml":{"description":"Successful operation","content":{"application/xml":{"schema":{"type":"string"}}}},"unavailable":{"description":"Service unavailable","content":{"text/html":{"schema":{"type":"string"}}}}}}}
